.wespher_widget_div {
    width: 350px;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999999999;
    box-shadow: 0 4px 15px 0 rgba(5, 27, 44, .7);
    background: white;
    border-radius: 0;
    overflow: hidden;
}
#wespher_widget_div.l_hidden #wespher_widget_frame {
    display: none;
}
#wespher_widget_frame {
    width: 100%;
    height: calc(100vh - 50px);
}
#wespher_widget_div.showhalf #wespher_widget_frame {
    height: 500px;
}
.wespher_chat {
    background: #0094bc;
    color: white;
    padding: 15px;
    display: block;
    position: relative;
    height: 50px;
}
.wespherbuttonsdiv {
    float: right;
}
.wespherbuttonsdiv span {
    margin: 0 3px;
    cursor: pointer;
}
.wespherbuttonsdiv span img {
    width: 20px;
}
.wespher_chat_title {
    cursor: pointer;
}
